<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">


	<bean class="io.netty.tcp.server.TcpServer" init-method="start"
		destroy-method="stop">
		<property name="serviceHandler">
			<bean class="com.iceps.spring.nettytcp.MapMesgHandler" />
		</property>
		<property name="daemon" value="false" />
		<property name="shutdownGracefully" value="true" />
		<property name="port" value="18088" />
	</bean>


</beans>