<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<context:component-scan base-package="com.iceps.spring.disruptor" />

	<bean id="eventFactory" class="com.iceps.spring.disruptor.factory.BatchEventFactory" init-method="start" destroy-method="stop">
		<property name="coreThreadPoolSizes">
		    <map>
        		<entry key="sch" value="8" /> 
        		<entry key="scan" value="3" /> 
        		<entry key="static" value="2" />
    		</map>
		</property>
	</bean>
	
</beans>